/* style boxes */
.flex-item{
    background: gold;
    color:rgb(98, 7, 245);
    width: 100px;
    height: 100px;
    margin: 1rem;
    padding: 1rem;
    text-align: center; 
    font-size: 5rem;
    font-weight: 500;
    font-family: sans-serif;
}



.flex-container{
    background: rgb(98, 7, 245);
    display: flex;
    flex-wrap: wrap;
}


